Source: feedie
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-central (>= 0.6.11),
 python-distutils-extra (>= 2.10)
Maintainer: UNKNOWN <UNKNOWN>
Standards-Version: 3.8.2
XS-Python-Version: current

Package: feedie
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-cheetah,
 python-couchdb,
 python-oauth,
 python-httplib2,
 python-twisted-core,
 python-twisted-web,
 python-cairo,
 python-gobject,
 python-desktopcouch,
 python-gtk2
Description: UNKNOWN
 UNKNOWN
