@charset "UTF-8";

:root {
    color: #333;
    font-family:
        "Verdana",
        "DejaVu Sans",
        sans-serif;
    font-size: 12px;
}

html, body {
    margin: 0;
}

body > .meta {
    background: #444;
    color: #eee;
    margin-bottom: 18px;
    overflow: auto;
}

body > .meta a:link {
    color: #78A5D6;
    text-decoration: none;
}

body > .meta > h1.title {
    font-size: 20px;
    letter-spacing: -0.5px; /* no effect in webkit :( */
    line-height: 20px;
    padding: 10px 0;
}

body > .meta > h1.title a:link {
    color: #eee;
}

body > .meta .secondary > * {
    padding: 0 0 5px;
}

body > .meta .feed {
    display: inline-block;
}

body > .meta .feed:before {
    content: "From ";
}

body > .meta .author-info {
    display: inline-block;
}

body > .meta .author {
    display: inline-block;
}

body > .meta .author:before {
    content: "By ";
}

body > .meta .contributors:before {
    content: "With ";
}

body > .meta ul.tags {
    display: none;
}

body > .meta > .title,
body > .meta > .secondary,
body > .summary,
body > .content {
    margin: 0 30px;
    max-width: 550px;
    line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
}

a:link, a:visited {
    color: #1d5b9f;
}
