:root {
    color: #333;
    font-family:
        "Lucida Grande",
        "Lucida Sans",
        "Verdana",
        "Droid Sans",
        "DejaVu Sans",
        sans-serif;
    font-size: 12px;
}

html, body {
    margin: 0;
}

body > .meta {
    background: #eee;
    border-bottom: 1px solid #bbb;
    margin-bottom: 18px;
    overflow: auto;
}

body > .meta a {
    text-decoration: none;
}

body > .meta > h1.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 0;
}

body > .meta .author,
body > .meta .contributors {
    padding: 0 0 5px;
}

body > .meta .author {
}

body > .meta .author:before {
    content: "By ";
}

body > .meta .contributors:before {
    content: "With ";
}

body > .meta > ul.tags {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
}

body > .meta > .title,
body > .meta > .author-info,
body > .meta > .tags,
body > .meta > .comments,
body > .summary,
body > .content {
    margin: 0 30px;
    max-width: 550px;
    line-height: 18px;
}
